/*----------------------------------font------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');


/* ----------------------------------common style or utilities---------------- */

body {
    margin: 0;
    padding: 0;

    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 477px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}

/* -------banner--------- */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text {
    text-align: center;
    padding-bottom: 50px;
    width: 862px;
    /* height: 225px; */
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin: 30px 0;
}

.primary-button {
    color: white;
    border: 0;
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
}


/* Quick list section  */


.quick {
    width: 1318px;
    margin: 85px 100px;
    display: flex;
    gap: 73px;
    align-items: center;
}

.quick-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-title {
    margin: 24px 0;
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

.of {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.fe {
    color: #FF900E;
}

.praimary-description {
    margin: 32px 0;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* features */

.features-container {
    display: flex;
    gap: 54px;
    justify-content: center;
    align-items: flex-end;
    /* width: 1440px;
    height: 1059px; */
    margin: 130px 100px;
}

.features-text {
    padding: 40px 0;
    /* width: 586px;
    height: 982px; */
}

.jhamela {
    display: flex;
    align-items: center;
}

.faka {
    width: 5px;
    height: 106px;
    background: #FF900E;
}

.features-title {
    font-weight: 700;
    font-size: 45px;
}

.features-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.f-item {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0.1px #8888882a;
}

.f-item-title, .f-item-description {
    margin: 0;
}

.f-item-title {
    font-weight: 600;
    font-size: 20px;
}

.f-item-description {
        color: #727272;
        font-weight: 400;
        font-size: 16px;
}

.features-img {
    margin-bottom: 50px;
}

.teen-year {
    color: white;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 45px 42px;
    /* width: 342px;
    height: 200px; */
    position: absolute;
    /* bottom: 0; */
    right: 500px;
}

.teen-year h2, h3 {
    margin: 0;
}

.teen-year h2 {
    font-weight: 700;
    font-size: 65px;
}

.teen-year h3 {
    font-weight: 500;
    font-size: 25px;
}

/* some fact  */

.some-facts {
    width: 542px;
    margin: 0 100px;
}

.sf-title {
    font-weight: 700;
    font-size: 45px;
}

.sf-description {
    margin: 32px 0;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* icon section  */

.icons {
 display: flex;
 gap: 142px;
 justify-content: center;
 margin: 100px 150px;
}

.icon {
    text-align: center;
    padding: 30PX;
    border: 1px solid #FF900E;
    border-radius: 8px;
    
}

.icon h2 {
    margin: 0;
}

.icon-rating {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
}

.icon-info {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}

/* our sponspors  */

.sponspors-container {

}

.sponspors-text {
    text-align: center;
}

.sponspors-title {
    font-weight: 700;
    font-size: 45px;
}

.sponspors-sub-title {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.sponspors-icons {
    display: flex;
    justify-content: space-around;
}

.sponspors-icons {
    margin: 50px 0;
}

/* My Section  */

@keyframes sliding {
    0%{
        color: rgb(249, 25, 5);
    }

    25%{
        color: rgb(242, 255, 0);
    }

    50%{
        color: rgb(4, 249, 4);
    }

    75%{
        color: rgb(3, 28, 252);
    }

    100% {
        color: rgb(253, 4, 4);
    right: 2600px;
    }
}

.my-section {
    width: 100%;
    height: 200px;
}

.my-text {
    margin: 0;
    font-size: 65px;
    font-weight: bolder;
    position: relative;
    right: -1600px;
    animation: sliding 15s linear 0.5s infinite backwards;
    animation-play-state: running;
    white-space: nowrap;
}

/* footer  */

footer {
    text-align: center;
    padding: 50px 0;
    margin: 50px 240px 150px;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-text {
    color: #424242;
    font-weight: 400;
    font-size: 20px;
}

/* -------------------media query--------------------- */

@media only screen and (max-width:688px) {
    *{
        margin: 5px 5px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }

    .banner-text {
        width: 100%;
    }
    .banner-img img {
        width: 100%;
    }
    
    .quick {
        width: 100%;
        margin: 85px 0px;
        display: flex;
        flex-direction: column;
        gap: 73px;
        align-items: center;
    }

    .quick-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 24px; */
    }
    
    .quick-text {
        text-align: center;
    }

    .features-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 54px;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;
    }

    .features-img img {
        width: 100%;
    }

    .teen-year {
        display: none;
    }

    .some-facts {
        width: 100%;
        margin: 0;
        text-align: left;
    }

    .icons {
        display: flex;
        flex-direction: column;
    }

    .sponspors-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-container {
        display: none;
    }

    footer {
        text-align: center;
        padding: 50px 20px;
        margin: 0;
}